<!DOCTYPE html>
<html>
<head></head>
<body>
  <form action="">
    <p>What is your favorite method of public transport?</p>

    <div>
      <input name="transport" id="buses" type="radio" />
      <label for="buses">Buses</label>
    </div>
    <div>
      <input name="transport" id="trains" type="radio" />
      <label for="trains">Trains</label>
    </div>
    <div>
      <input name="transport" id="planes" type="radio" />
      <label for="planes">Planes</label>
    </div>
    <div>
      <input name="transport" id="bicycles" type="radio" />
      <label for="bicycles">Bicycles</label>
    </div>
    <div>
      <input name="transport" id="cars" type="radio" />
      <label for="cars">Cars</label>
    </div>

    <p>What is your favorite space destination?</p>

    <div>
      <input name="space"  id="moon" type="radio" />
      <label for="moon">Moon</label>
    </div>
    <div>
      <input name="space" id="mars" type="radio" />
      <label for="mars">Mars</label>
    </div>
    <div>
      <input name="space" id="saturn" type="radio" />
      <label for="saturn">Saturn</label>
    </div>
  </form>
</body>
</html>